/*
Colors used:
Primary Color (White): #ffffff
Secondary Color (Black): #000000
Accent Color (Light Red): #ff8585
*/

body {
    background-color: #ffffff;
    font-family: 'Assistant', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.6;
    color: #000000;
  }

  header {
    background-color: #000000;
    padding: 0.625em;
    margin:0;
  }
  
  h1, h2, h3, h4 {
    font-family: 'Oswald';
    line-height: 1.4;
  }
  h1 {
    font-size: 2.75em;
    font-weight: 600;
  }
  
  h2 {
    font-size: 2.25em;
    font-weight: 600;
  }
  
  h3 {
    font-size: 1.75em;
    font-weight: 400;
  }
  h4 {
    font-size: 1.35em;
    font-weight: 400;
  }

  img {
    width: 100%;
  }

  a {
    color: #ff8585;
    text-decoration: none;
  }
  a:hover,
  a:focus {
    color: #d15757;
    text-decoration: underline;
  }
  a:visited {
    color: #85baff;
  }
  a:active {
    color: #d15757;
  }

  nav {
    display: inline-block;
    width: 100%;
  }

  nav > ul {
    list-style-type: none;
    padding: 0;
  }

  nav > ul > li {

  }

  nav > ul > li > a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #ff8585;
  }

  nav > ul > li > a:visited {
    color: #85baff;
  }

  nav > ul > li > a:hover {
    color: #d15757;
    text-decoration: underline;
  }

  nav > ul > li > a:active {
    color: #d15757;
  }

  .fiveWlayout {
    display: inline-block;
    margin: 1em;
    text-align: center;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .cover {
    margin: 1em;
  }

  .tasks {
    display: inline-table;
    margin: 2em;
  }

  .button {
    display: inline-block;
    background-color: #ff8585;
    color: #ffffff;
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #ffffff;
    transition: 0.2s opacity;
  }

  .button:hover {
    opacity: 0.8;
    text-decoration: none;
    color: #ffffff
  }

  .button.contact {
    background-color: transparent;
    color: #ff8585;
    text-transform: uppercase;
    border: 2px solid #ff8585
  }

  .button.contact:hover {
    background-color: #ff8585;
    color: #ffffff
  }

  /* Layout styling */
  
  .container {
    padding: 0 15px;
  }

  .row {
    margin: 25px 0; /* 25px top and bottom, 0 left and right */
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #headshot {
    float: left;
  }
  
  #hero h1 {
    text-align: center;
  }

  .logo {
    max-width: 150px;
  }

  #hero {
    background-color: #000000;
    padding: 20px 0;
    display: inline-block;
    width: 100%;
    text-align: center;
  }

  #hero span {
    display: block;
  }

  #welcome {
    color: #ffffff;
  }

  #fiveW {
    text-align: justify;
    width: 150px;
    display: inline-block;
    margin: 1em;
  }

  #contact {
    background-color: #000000;
    color: #ffffff;
    padding: 0.5em;
  }

  #about-page h3 {
    margin-top: 0;
  }

  #headshot {
    float: left;
    margin: 5px;;
  }

  .berlin-illustration {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  .navtoggle li:not(:last-child) {
    display: none;
  }

  .navtoggle, .navtoggle.responsive {
    position: relative;
  }

  .navtoggle li .icon {
    position: absolute;
    right: 0;
    top: 2px;
    font-size: 20px;
  }

  .navtoggle.responsive li  {
    display: block;
    padding: 10px 0;
    border-top: 1px solid rgba(255,127,80,0.5);
  }

  .navtoggle.responsive nav {
    padding: 24px 0 0;
  }

  .navtoggle.responsive li:last-child  {
    padding: 0 0 10px;
  }

  /* Breakpoints */
  
  /* Medium Devices */
  @media only screen and (min-width: 640px) {
    header {
      text-align: unset;
      padding: 20px 0 13px;
    }

    nav {
      width: auto;
      float: right;
      margin-top: 4px;
    }

    #hero {
     margin-top: -10px;
    }

    .col-md-6 {
      width: 45%;
    }
  
    [class*="col-"] {
      float: left;
      padding: 10px;
    }

    nav > ul > li {
    display: inline-block
    }

    .navtoggle li:not(:last-child) {
      display: inline-block;
    }

    .navtoggle li:last-child {
      display: none;
    }
  }

  .logo {
    max-width: 250px;
  }

  /* Large Devices */
  @media only screen and (min-width: 1024px) {
    .col-lg-7 {width: 56.33%;}

    .col-lg-5 {width: 38.66%;}

    .container {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  /* Extra Large Devices */
  @media only screen and (min-width: 1440px) {

  }

  @keyframes color-change {
    0% {fill: #edc655;}
    50% {fill: #fcffad;}
    100% {fill: #f76414;}
  }

  .sun {
    animation: 4s color-change infinite alternate linear;
  }

  @keyframes cloud-move {
    from {transform: translate(0,50px);}
    to {transform: translate(200px,50px);}
  }

  .cloud-front {
    animation: 30s cloud-move infinite alternate linear;
  }

  @keyframes cloud-move-reverse {
    from {transform: translate(446px,48px);}
    to {transform: translate(100px, 48px);}
  }

  .cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
  }